#tools
.idea/
.vagrant/
/node_modules/
#created dependancies
default/vendor/

default/cockpit/*
!default/cockpit/custom

#auto-built
/default/assets/

#vagrant
/html
/puphpet
!/puphpet
/puphpet/*
!/puphpet/config.yaml
/puphpet.zip
